/*!
 * prabhatkumar.org [v0.0.1]
 * ============================
 * @author    : Prabhat Kumar
 * @date      : 14-July-2015
 * @sass      : Selective Steve [3.4.15]
 * @compass   : Polaris [1.0.3]
 * ---------------------------------------
 * Principle  : Standard Module Definition
 * ---------------------------------------
 */
